boto3==1.39.17
botocore==1.39.17
cvdata==0.0.3
h2
hpack
hyperframe
jmespath==1.0.1
lxml
numpy
opencv-python
openimages==0.0.1
pandas
pillow
python-dateutil==2.9.0.post0
pytz==2025.2
s3transfer==0.13.1
setuptools==80.1.0
six==1.17.0
tzdata==2025.2
wheel==0.45.1
zstandard==0.23.0


tensorflow
keras
scikit-learn



Django==4.2.14
gunicorn
whitenoise